body{
  background-image: url(../img/bg2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  font-family: 'Acme', sans-serif;
}
.header{
  margin-bottom: 5%;
}
ul{
  text-align: left;
}
.card{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
#oops-p1, #oops-p2{
  display: none;
  color: red;
}
#lands{
  font-size: 300%;
  text-align: center;
}
#rules{
  width: 30%;
  margin-left: 35%;
}
.drop{
  display: none;
}
#p1round, #p1game, #p2round, #p2game{
  font-size: 300%;
}
#active{
  background-color: rgba(0, 0, 0, 0.5);
}
#game{
  display: none;
}
form{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 5px;
}
h2{
text-align: center;
}
#play, #save1, #save2{
  margin-top: 10px;
  width: 30%;
  margin-left: 35%;
}
.over img{
  width: 20%;
  margin-left: 40%;
}
#winnerp1, #winnerp2{
  color: red;
}
